<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="col-sm-1 col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do
        card.</p>
      <a href="#" class="btn btn-primary">Add to card</a>
    </div>
  </div>
</div>